body,
html {
    height: 100%;
    width: 100%;
    background-color: #232323;
    margin: 0;
    font-family: "Nunito";
    font-weight: 200;
}

.square {
    width: 20%;
    height: 20%;
    background-color: purple;
    padding-bottom: 20%;
    float: left;
    margin: 1.66% 6.66%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#container {
    margin: 10px auto;
    max-width: 65%;
}

h1 {
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 1.1;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 4rem;
}

#stripe {
    background-color: white;
    height: 7%;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background-color: steelblue;
}

#pickedColor {
    font-size: 125%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:nth-of-type(2) {
    margin-left: 8%;
}

button:nth-of-type(1) {
    margin-right: 7%;
}

#message {
    display: inline-block;
    width: 20%;
}

button:hover {
    color: white;
    background-color: steelblue;
}
